<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<body>

<!-- Navbar -->
<div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
<!-- EO: Navbar -->

<div class="container center">
    <form th:action="@{/products/save}" method="post" th:object="${productInputForm}" id="createProductForm">
        <div class="form-group">
            <label for="productName">Name</label>
            <input type="text"
                   placeholder="Enter the name of the product here"
                   class="form-control"
                   th:errorclass="is-invalid"
                   id="productName"
                   th:field="*{name}"/>
            <div class="invalid-feedback">
                Please fill in a product name.
            </div>
        </div>

        <div class="form-group">
            <label for="productDescription">Description</label>
            <textarea class="form-control"
                      form="createProductForm"
                      placeholder="Description"
                      th:errorclass="is-invalid"
                      id="productDescription"
                      rows="5"
                      th:field="*{description}"></textarea>
            <div class="invalid-feedback">
                The description should be longer than 10 characters.
            </div>
        </div>

        <div class="form-group">
            <label class="custom-control-label" for="productIsActive">Is the product active? </label>
            <input type="checkbox"
                   class="custom-control-input"
                   id="productIsActive"
                   th:field="*{activity}">
        </div>

        <div class="input-group">
            <label for="productName">Price</label>
            <input type="text"
                   th:errorclass="is-invalid"
                   placeholder="Enter the price of the product here"
                   class="form-control"
                   aria-label="Amount (to the nearest dollar)"
                   id="productPrice"
                   th:field="*{price}">
            <div class="input-group-append">
                <span class="input-group-text">$</span>
                <span class="input-group-text">0.00</span>
            </div>
            <div class="invalid-feedback">
                Please fill in a product price.
            </div>
        </div>

        <div class="form-group">
            <label for="productImgSrc">Image Url</label>
            <input type="text"
                   placeholder="Enter the image url here"
                   class="form-control"
                   th:errorclass="is-invalid"
                   id="productImgSrc"
                   th:field="*{imgSrc}"/>
            <div class="invalid-feedback">
                Please fill in a product image source.
            </div>
        </div>

        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="categoryType">Category type</label>
                </div>
                <select th:field="*{categoryId}"
                        th:errorclass="is-invalid"
                        id="categoryType"
                        name="categoryType">
                    <option th:each="aCategoryType : ${categoryTypes}"
                            th:value="${aCategoryType.id}"
                            th:text="${aCategoryType.name}"
                            th:selected="${aCategoryType.id}==*{categoryId}"></option>
                </select>
                <div class="invalid-feedback">
                    Category type should be specified.
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>