<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<body>

<!-- Navbar -->
<div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
<!-- EO: Navbar -->

<div class="container center text-center my-4 w-50">
    <h1>Add new product</h1>
    <form th:action="@{/products/add}" method="post" th:object="${productBindingModel}">

        <div th:if="${#fields.hasErrors('*')}">Entry has errors!</div>


        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   name="name"
                   th:field="*{name}"
                   th:errorclass="is-invalid"
                   placeholder="Enter the name of the product here"
                   class="form-control"
                   id="name"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      name="description"
                      th:field="*{description}"
                      placeholder="Description"
                      th:errorclass="is-invalid"
                      id="description"
                      rows="3"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <div class="form-group">
            <label for="productPrice">Price</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="text"
                       id="productPrice"
                       class="form-control"
                       th:field="*{price}"
                       aria-label="Amount (to the nearest dollar)"
                       th:errorclass="is-invalid">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="productImgUrl">Image URL</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">images/product/{name}.{jpg/png}</span>
                </div>
                <input type="text"
                       class="form-control"
                       th:field="*{imgSrc}"
                       id="productImgUrl"
                       aria-describedby="basic-addon3"
                       th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('imgSrc')}" th:errors="*{imgSrc}"></div>
            </div>
        </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="category">Category type</label>
                    </div>
                    <select th:errorclass="is-invalid"
                            id="category"
                            name="category"
                            th:field="*{category.id}">
                        <option th:each="aCategoryType : ${categoryTypes}"
                                th:value="${aCategoryType.id}"
                                th:text="${aCategoryType.name}"
                        ></option>
                    </select>
                    <div class="invalid-feedback">
                        Category type should be specified.
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="productIsActive" th:field="*{activity}">
                    <label class="form-check-label pl-4" for="productIsActive">
                        <h6>Is the product active?</h6>
                    </label>
                </div>
            </div>
        </div>
    </div>

        <button type="submit" class="btn btn-outline-success w-50">Submit Product</button>
    </form>
</div>
</body>
</html>