<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragment/head :: head"></head>
    <body>

    <!-- Behaviour -->
    <script sec:authorize="hasRole('ADMIN')">
        $(document).on("click", ".open-edit-dialog", function () {
        $("#activateId").val($(this).data('id'));
        });
    </script>
    <!-- EO: Behaviour-->

        <!-- Navbar -->
        <div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
        <!-- EO: Navbar -->
        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Pizzas</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="pizza : ${pizzas}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${pizza.imgSrc}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pizza.name}"></h5>
                        <p class="card-text" th:text="${pizza.description}"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" th:text="${pizza.price}"></small>
                        <div sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/products/edit/{id}(id=${pizza.id})}" class="btn btn-primary font-weight-bold text-white">Edit</a>
                            <button type="button"
                                    th:if="${!pizza.activity}"
                                    class="open-edit-dialog btn btn-success"
                                    data-toggle="modal"
                                    data-target="#activateModal"
                                    th:data-id="*{pizza.id}">Activate
                            </button>
                            <button type="button"
                                    th:if="${pizza.activity}"
                                    class="open-edit-dialog btn btn-danger"
                                    data-toggle="modal"
                                    data-target="#activateModal"
                                    th:data-id="*{pizza.id}">Deactivate
                            </button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Salads</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="salad : ${salads}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${salad.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${salad.name}"></h5>
                            <p class="card-text" th:text="${salad.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${salad.price}"></small>
                            <div sec:authorize="hasRole('ADMIN')">
                                <button type="button"
                                        th:if="${!salad.activity}"
                                        class="open-edit-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{salad.id}">Activate
                                </button>
                                <button type="button"
                                        th:if="${salad.activity}"
                                        class="open-edit-dialog btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{salad.id}">Deactivate
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Deserts</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="desert : ${deserts}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${desert.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${desert.name}"></h5>
                            <p class="card-text" th:text="${desert.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${desert.price}"></small>
                            <div sec:authorize="hasRole('ADMIN')">
                                <button type="button"
                                        th:if="${!desert.activity}"
                                        class="open-edit-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{desert.id}">Activate
                                </button>
                                <button type="button"
                                        th:if="${desert.activity}"
                                        class="open-edit-dialog btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{desert.id}">Deactivate
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Drinks</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="drink : ${drinks}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${drink.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${drink.name}"></h5>
                            <p class="card-text" th:text="${drink.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${drink.price}"></small>
                            <div sec:authorize="hasRole('ADMIN')">
                                <button type="button"
                                        th:if="${!drink.activity}"
                                        class="open-edit-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{drink.id}">Activate
                                </button>
                                <button type="button"
                                        th:if="${drink.activity}"
                                        class="open-edit-dialog btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{drink.id}">Deactivate
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Delete announcement-->
        <div sec:authorize="hasRole('ADMIN')" th:replace="product/activate :: activate-product">
            Modal dialog for activating product
        </div>
        <!-- EO: Delete announcement-->

    </body>
</html>