<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragment/head :: head"></head>
    <body>

    <!-- Behaviour -->
    <script sec:authorize="hasRole('EMPLOYEE')">
        $(document).on("click", ".open-edit-dialog", function () {
        $("#activateId").val($(this).data('id'));
        });
    </script>

    <script sec:authorize="hasRole('CUSTOMER')">
        $(document).on("click", ".open-add-to-cart-dialog", function () {
        $("#productId").val($(this).data('id'));
        });
    </script>
    <!-- EO: Behaviour-->

    <!-- Navbar -->
    <div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
    <!-- EO: Navbar -->
        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Pizzas</h1>
                <p class="lead">There is no better feeling in the world than a warm pizza box in your lap.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="pizza : ${pizzas}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${pizza.imgSrc}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pizza.name}"></h5>
                        <p class="card-text" th:text="${pizza.description}"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" th:text="${pizza.price}"></small>

                        <div sec:authorize="hasRole('CUSTOMER')">
                            <button type="button"
                                    th:if="${pizza.activity}"
                                    class="open-add-to-cart-dialog btn btn-success"
                                    data-toggle="modal"
                                    data-target="#addToCartModal"
                                    th:data-id="*{pizza.id}">Add To Cart
                            </button>
                        </div>

                        <div sec:authorize="hasRole('EMPLOYEE')">
                            <button type="button"
                                    th:if="${!pizza.activity}"
                                    class="open-edit-dialog btn btn-success"
                                    data-toggle="modal"
                                    data-target="#activateModal"
                                    th:data-id="*{pizza.id}">Activate
                            </button>
                            <button type="button"
                                    th:if="${pizza.activity}"
                                    class="open-edit-dialog btn btn-danger"
                                    data-toggle="modal"
                                    data-target="#activateModal"
                                    th:data-id="*{pizza.id}">Deactivate
                            </button>
                        </div>
                        <div sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{/products/edit/{id}(id=${pizza.id})}" class="btn btn-primary font-weight-bold text-white">Edit</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Salads</h1>
                <p class="lead">The essence of a good salad is simplicity. Clean, bright flavors that, when brought together, bring out the best in one another.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="salad : ${salads}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${salad.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${salad.name}"></h5>
                            <p class="card-text" th:text="${salad.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${salad.price}"></small>

                            <div sec:authorize="hasRole('CUSTOMER')">
                                <button type="button"
                                        th:if="${salad.activity}"
                                        class="open-add-to-cart-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#addToCartModal"
                                        th:data-id="*{salad.id}">Add To Cart
                                </button>
                            </div>
                            <div sec:authorize="hasRole('EMPLOYEE')">
                                <button type="button"
                                        th:if="${!salad.activity}"
                                        class="open-edit-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{salad.id}">Activate
                                </button>
                                <button type="button"
                                        th:if="${salad.activity}"
                                        class="open-edit-dialog btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{salad.id}">Deactivate
                                </button>
                            </div>
                            <div sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/products/edit/{id}(id=${salad.id})}" class="btn btn-primary font-weight-bold text-white">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Desserts</h1>
                <p class="lead">It is hard to be sad when you are eating a cookie.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="desert : ${deserts}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${desert.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${desert.name}"></h5>
                            <p class="card-text" th:text="${desert.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${desert.price}"></small>

                            <div sec:authorize="hasRole('CUSTOMER')">
                                <button type="button"
                                        th:if="${desert.activity}"
                                        class="open-add-to-cart-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#addToCartModal"
                                        th:data-id="*{desert.id}">Add To Cart
                                </button>
                            </div>
                            <div sec:authorize="hasRole('EMPLOYEE')">
                                <button type="button"
                                        th:if="${!desert.activity}"
                                        class="open-edit-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{desert.id}">Activate
                                </button>
                                <button type="button"
                                        th:if="${desert.activity}"
                                        class="open-edit-dialog btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{desert.id}">Deactivate
                                </button>
                            </div>
                            <div sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/products/edit/{id}(id=${desert.id})}" class="btn btn-primary font-weight-bold text-white">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid p-2">
            <div class="container">
                <h1 class="display-4">Drinks</h1>
                <p class="lead">“I drink to make other people more interesting.”
                    ― Hemingway, Ernest</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 p-4" th:each="drink : ${drinks}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="${drink.imgSrc}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${drink.name}"></h5>
                            <p class="card-text" th:text="${drink.description}"></p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted" th:text="${drink.price}"></small>
                            <div sec:authorize="hasRole('CUSTOMER')">
                                <button type="button"
                                        th:if="${drink.activity}"
                                        class="open-add-to-cart-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#addToCartModal"
                                        th:data-id="*{drink.id}">Add To Cart
                                </button>
                            </div>
                            <div sec:authorize="hasRole('EMPLOYEE')">
                                <button type="button"
                                        th:if="${!drink.activity}"
                                        class="open-edit-dialog btn btn-success"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{drink.id}">Activate
                                </button>
                                <button type="button"
                                        th:if="${drink.activity}"
                                        class="open-edit-dialog btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#activateModal"
                                        th:data-id="*{drink.id}">Deactivate
                                </button>
                            </div>
                            <div sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/products/edit/{id}(id=${drink.id})}" class="btn btn-primary font-weight-bold text-white">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Activate product-->
        <div sec:authorize="hasRole('EMPLOYEE')" th:replace="product/modal/activateModal :: activate-product">
            Modal dialog for activating product
        </div>
        <!-- EO: Activate product-->

        <!-- Add to cart product-->
        <div sec:authorize="hasRole('CUSTOMER')" th:replace="product/modal/addToCartModal :: add-to-cart">
            Modal dialog for adding product to cart
        </div>
        <!-- EO: Add to cart product-->



<!--    <a href="#" class="btn btn-primary" rel="popover" data-content='-->
<!--<form id="quantityForm" name="quantityForm" method="post" th:action="@{/cart/addProduct}">-->
<!--        <label for="quantity">Quantity: </label>-->
<!--        <input type="number" id="quantity" name="quantity" min="1" max="15" step="1"/>-->
<!--</form>-->
<!--' data-placement="top" data-original-title="Fill in form">Add to Cart</a>-->


    </body>
</html>