<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="decline-order">
    <!-- Modal -->
    <div class="modal fade" id="declineModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Decline Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to decline that order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form id="formDecline"
                          th:action="@{/orders/declineOrder}"
                          th:method="post">
                        <input id="orderDeclineId" name="orderDeclineId" type="hidden" value=""/>
                        <button id="btnDecline" type="submit" class="btn btn-danger">Decline Order</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>