<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<body>

<div class="container center">
    <div class="card my-5">
        <article class="card-body">
            <a th:href="@{/register}" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            <hr>
            <form th:action="@{/login}" method="post">
                <div th:if="${error}" class="alert alert-danger" role="alert">
                    This username and password combination does not exist.
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                            name="username"
                            type="text"
                            th:value="${username}"
                            placeholder="Username"
                            class="form-control"
                            id="username"/>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label for="userPassword">Password</label>
                    <input
                            name="password"
                            type="password"
                            placeholder="Password"
                            class="form-control"
                            id="userPassword"/>
                </div> <!-- form-group// -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div> <!-- form-group// -->
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="small" href="#">Forgot password?</a>
                    </div>
                </div> <!-- .row// -->
            </form>
        </article>
    </div> <!-- card.// -->

    <!--Test credentials -->
    <div class="container">
        A user and password pairs that you may use:
        <li>admin/admin (for admin user)</li>
        <li>employee/employee (for employee user)</li>
        <li>customer/customer (for customer user)</li>
    </div>
    <!--Test credentials -->
</div>
</body>
</html>