<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">

    <title>PizzaApp</title>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{../webjars/bootstrap/4.5.0/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/pizza.css}" type="text/css">

    <!-- Javascript -->
    <script th:src="@{../webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript"></script>

</head>
<body>
</body>
</html>