<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="activate-product">
    <!-- Modal -->
    <div class="modal fade" id="activateModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Activity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to make that change?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form
                            id="formActivate"
                            th:action="@{/products/activate}"
                            th:method="post">
                        <input id="activateId" name="activateId" type="hidden" value=""/>
                        <button id="btnActivate" type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>