<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="add-to-cart">
    <!-- Modal -->
    <div class="modal fade" id="addToCartModal" tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add product to cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" th:action="@{/cart/addProduct}">
                    <div class="modal-body">
                        Add the quantity of the product you want to purchase:
                        <input type="number" id="quantity" name="quantity" value="1" min="1" max="15" step="1"/>
                        <input id="productId" name="productId" type="hidden" value=""/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

</body>
</html>