<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<body>

<!-- Navbar -->
<div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
<!-- EO: Navbar -->

<div class="container center text-center my-4 w-50">
    <h1>Add new offer</h1>
    <form th:action="@{/offers/add}" method="post" th:object="${offerInputForm}" id="createOfferForm">


        <div class="form-group">
            <label for="offerPrice">Price</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="text" id="offerPrice" class="form-control" th:field="*{promoPrice}" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="validUntil">Valid Until</label>
                <input class="form-control"
                       type="month"
                       th:errorclass="is-invalid"
                       id="validUntil"
                       th:field="*{validUntil}"
                       name="validUntil">
                <div class="invalid-feedback">
                    Please fill in a validity month
                </div>
        </div>

        <div class="form-group">
            <label class="text-center text-white font-weight-bold" for="products">Products</label>
            <select multiple th:field="*{products}" id="products" class="form-control"
                    th:classappend="${#fields.hasErrors('products')}? 'field-error'" >
                <option value="">- Select products -</option>
                <option th:each="product : ${allProducts}" th:value="${product.id}"
                        th:text="|Name:   ${product.name}    ,Category:    ${product.category.name}|"
                        th:selected="${product == products}">
                    Model
                </option>
                </optgroup>
            </select>
            <p th:if="${#fields.hasErrors('products')}" th:errors="*{products}"
               class="errors alert alert-danger">
                Minimum one Product is required.
            </p>
        </div>

        <button type="submit" class="btn btn-outline-success w-50">Submit Product</button>
    </form>
</div>

</body>
</html>