<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/head :: head"></head>
<body>

<!-- Navbar -->
<div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
<!-- EO: Navbar -->

        <h1 class="text-center text-dark">Shopping Cart</h1>
        <hr class="hr-2 bg-dark w-75">
        <table class="table table-hover w-75 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-2 text-center">Image</th>
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-2 text-center">Description</th>
                <th class="col-md-2 text-center">Price</th>
                <th class="col-md-1 text-center">Quantity</th>
                <th class="col-md-2 text-center">Remove</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${#session.getAttribute('shopping-cart')}" th:object="${item}">
                <tr class="row mx-auto">
                    <th class="col-md-2 text-center"><img th:src="*{productDetailsViewModel.imgSrc}" alt="Product" height="150" width="150"></th>
                    <td class="col-md-3 text-center" th:text="*{productDetailsViewModel.name}"></td>
                    <td class="col-md-2 text-center" th:text="*{productDetailsViewModel.description}"></td>
                    <td class="col-md-2 text-center" th:text="*{productDetailsViewModel.price}"></td>
                    <td class="col-md-1 text-center" th:text="*{quantity}"></td>
                    <td class="col-md-2 text-center">
                        <form th:action="@{/cart/removeProduct}" th:method="post">
                            <div class="button-holder d-flex justify-content-center">
                                <input type="hidden" id="deleteId" name="deleteId" th:value="*{productDetailsViewModel.id}">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>


        <hr class="hr-2 bg-dark">
        <div class="text-center">
            <h3 th:text="|Total: ${totalPrice}|"></h3>
        </div>
        <hr class="hr-2 bg-dark">
        <h4 class="text-center">If you want to add some comment to your order you can type it below</h4>
        <form th:action="@{/cart/checkout}" th:method="post">
            <div class="form-group w-50 mx-auto">
                <label for="comment" class="col-form-label">Let us know if you have any preferences: </label>
                <textarea class="form-control"
                          id="comment"
                          name="comment"
                          style="resize:none"
                          rows="3"
                          placeholder="Example: I don't want any sauces/ I have milk intolerance"
                          ></textarea>
            </div>
            <div class="button-holder d-flex justify-content-center my-4">
                <button type="submit" class="btn btn-success">Checkout</button>
            </div>
        </form>


</body>
</html>