<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<body>

<!-- Navbar -->
<div th:replace="fragment/navbar :: navbar('home')">Navbar here</div>
<!-- EO: Navbar -->

<h1 class="margins-top-bottom home-paragraph">
    Welcome to Pizzaria Mizzaria, unknown user! TODO: Add spring security!
</h1>


<p class="home-paragraph">
    Have fun!
</p>

<!-- Bootstap JS -->
<!--<div th:replace="fragment/bootstrap-js :: bootstrap-js"></div>-->
<!-- EO: Bootstap JS -->

</body>
</html>